django==5.1.4
mysqlclient
gunicorn
django-tables2
django-crispy-forms
whitenoise
django-bootstrap3
django-filter
django-debug-toolbar
django-widget-tweaks
django-bootstrap-modal-forms
djangorestframework
pytz