{% extends "ponder/base.html" %}
{% load render_table from django_tables2 %}
{% load bootstrap3 %}

<!DOCTYPE html>
<html>
{% block body_block %}
    <head>
        <title>Categorizations</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
	    <style>
		  	.container {
		    width: 100%;
		    height: 100%;
		    left: 0;
		    top: 0;
		    z-index: 10;
		  	}
	  	</style>
    </head>
    <body>
    	<h3>Categorizations for user: {{user.username}}</h3>
		<form method="get" class="form form-inline" id="round_form">
			<input type="hidden" name="user" value="{{user.id}}" />
			<label for="rounds">Rounds: </label>
			<select onchange="this.form.submit()" name="rounds" class="form-control" id="id_rounds">
				<option value="" {% if not request.GET.rounds or not request.GET.rounds.isnumeric %} selected {% endif %}>---------</option>
				{% for i in listOfRounds %}
					<option value='{{i}}' {% if request.GET.rounds == i|slugify %} selected {% endif %}>{{i}}</option>
				{% endfor %}
			</select>
		</form>
		<div class="container">
        {% render_table table %}
    	</div>
    </body>
</html>
{% endblock %}
