{% extends "ponder/base.html" %}
{% load static %}
{% load crispy_forms_tags %}s
{% load django_tables2 %}
{% block body_block %}
<style>
ul {
  display: inline-block;
  vertical-align: top;
  padding-left: 0;
}
}
</style>

<div class="card-body">
 <h2> Insert values of fields </h2>
  <div class="row">
    <div class="col-md-6 offset-3 ">
      <form class="" action="" method="post">
        {% csrf_token %}
        <div class="row">
          <div class="form-group col-md-8 ">
            {{p_category.category | as_crispy_field}}
          </div>
          <div class="form-group col-md-4">
            {{p_fix.fix | as_crispy_field}}
          </div>
        </div>
        <div class="row">
          <div class="form-group col-md-8 ">
            {{p_cause.cause | as_crispy_field}}
          </div>
          <div class="form-group col-md-4 ">
          {{p_symptom.symptom | as_crispy_field}}
        </div>
      </div>
      <div class="form-group">
        <button type="submit" onclick = class="btn btn-primary btn-block btn-sm">Move to the next step</button>
      </div>
    </form>
  </div>
</div>
<!-- 
<h4>Existing problem categories</h4>
<ul>
    {% for c in values_pcat %}
      <li>
        {{ c.category }}
      </li>
    {% endfor %}
  </ul>
<h4>Existing problem fixes</h4>
  <ul>
    {% for c in values_pf %}
      <li>
        {{ c.fix }}
      </li>
    {% endfor %}
  </ul>
<h4>Existing problem causes</h4>
  <ul>
    {% for c in values_pcause %}
      <li>
        {{ c.cause }}
      </li>
    {% endfor %}
  </ul>
<h4>Existing problem symptoms</h4>
  <ul>
    {% for c in values_ps %}
      <li>
        {{ c.symptom }}
      </li>
    {% endfor %}
  </ul>
  -->
</div>
{% endblock body_block%}
