{% extends "ponder/base.html" %}
{% load render_table from django_tables2 %}
{% load bootstrap3 %}

<!DOCTYPE html>
<html>
{% block body_block %}
    <head>
        <title>Bug Fix Details</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
	    <style>
		  	.container {
		    width: 100%;
		    height: 100%;
		    left: 0;
		    top: 0;
		    z-index: 10;
		  	}
	  	</style>
    </head>
    <body>
    	<div class="container-fluid">
        <div class="col-lg-6" style="border-style: outset; width: 35%">
            <table class="table" style="border: 1px; width: 100%">
              <thead class="thead-warning">
                <tr>
                  <th scope="col">Field</th>
                  <th scope="col">Value</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Sha</td>
                  <td>{{sha}}</td>
                </tr>
                <tr>
                  <td>Is function fix?</td>
                  <td>{{is_func_fix}}</td>
                </tr>
                <tr>
                  <td>Problem Category</td>
                  <td>{{problem_category}}</td>
                </tr>
              </tbody>
            </table>
        </div>
    </div>
    </br>

    <div class="container">
      <nav class="navbar navbar-expand-lg bg-light" style="background-color: #e3f2fd;">
      <h3 style="font-size: 30px;
      line-height: 43px; font-family: Helvetica; text-align: center; color: black; color: #337ab7;"> Categorizations for bug fix with ID {{id_value}} </h3>
      </nav>
    </div>
    </br>
    	<div class="container">
        {% render_table table %}
    	</div>
    </body>
</html>
{% endblock %}
