{% extends "ponder/base.html" %}
{% load static %}
{% block body_block %}
<div class="container">
  <div class="jumbotron">
  	<a href="/" class="ponder-logo">
      <img src="{% static 'logo.png'%}">
    </a>
    <center></center><h1>Welcome to the Ponder's Web App !</h1></center>
    {% if user.is_authenticated %}
        <h2>Hello, {{ user.username }}! </h2>
    {% else %}
        <h2>Login if you'd like to</h2>
    {% endif %}
  </div>
{% if user.is_authenticated %}
<center><h1>Categorizations Page for {{ user.username }}:</h1></center>
<div class="row">
  {% for project in projects %}
      <div class="col-md-4">
          <div class="card mb-2">
              <div class="card-body">
                  <h2 class="card-title">{{ project }}</h2>
                  {% if project == "Commits" %}
                    <p class="card-text">See the commits being considered in this study, as well as adding categorizations for each one.</p>
                    <a href="{% url 'ponder:commits_table' %}"
                     class="btn btn-primary">
                      View commits
                    </a>
                  {% elif project == "Categorizations" %}
                    <p class="card-text">View {{ user.username }} categorizations.</p>
                    <a href=""
                     class="btn btn-primary">
                      View your categorizations
                    </a>
                  {% else %}
                  <p class="card-text">View the agreed upon categorizations for each sha.</p>
                    <a href=""
                     class="btn btn-primary">
                      View agreed categorizations
                    </a>
                  {% endif %}
              </div>
          </div>
      </div>
  {% endfor %}
{% endif %}
</div>
{% endblock %}
