{% extends "ponder/base.html" %}
{% load static %}
{% block body_block %}
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
      <script src="bootstrap.bundle.min.js / bootstrap.bundle.js"></script>
<div class="container">
  <div class="jumbotron">
    <a href="/" class="ponder-logo">
      <img src="https://images.weserv.nl/?url=cs.hunter.cuny.edu/~Raffi.Khatchadourian99/media/logo.png"> <!-- This is the logo -->
    </a>
    <center></center><h1>Welcome to the Ponder's Web App !</h1></center>
    {% if user.is_authenticated %}
        <h2>Hello, {{ user.username }}! </h2>
          <div class="dropdown" style="float: right; width: 200px;">
            <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="width: 200px; height: 40px; font-size: 18px; float: right; margin: -45px 10px; border-style: dotted; border-radius: 3px; background-color: white;">
              {% if user.groups.all %}
                <span class="selection">{{ user.groups.all|first }}</span>
              {% else %}
                <span class="selection">Select your role</span>
              {% endif %}
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              {% for group in groups %}
               <li><a class="dropdown-item" href="{% url 'ponder:index' %}?role={{group}}" style="font-size: 16px;">{{group}}</a></li>
              {% endfor %}          
            </ul>
          </div>
    {% else %}
        <h2>Login if you'd like to</h2>
    {% endif %}
  </div>
{% if user.is_authenticated %}
<center><h1>Categorizations Page for {{ user.username }}:</h1></center>
<div class="row">
  {% for project in projects %}
      {% if project == "Commits" and perms.ponder.view_commit or project == "Categorizations" and perms.ponder.view_categorization or project == "Bug Fixes" and perms.ponder.view_bugfix %}
      <div class="col-md-4">
          <div class="card mb-2">
              <div class="card-body">
                  <h2 class="card-title">{{ project }}</h2>
                  {% if project == "Commits" %}
                    <p class="card-text">See the commits being considered in this study, as well as adding categorizations for each one.</p>
                    <a href="{% url 'ponder:commits_table' %}"
                     class="btn btn-primary">
                      View commits
                    </a>
                  {% elif project == "Categorizations" %}
                    <p class="card-text">View {{ user.username }} categorizations.</p>
                    <a href="{% url 'ponder:categorizations_filter' %}?user={{user.id}}"
                     class="btn btn-primary">
                      View your categorizations
                    </a>
                  {% else %}
                  <p class="card-text">View the agreed upon categorizations for each sha.</p>
                    <a href="{% url 'ponder:bugfixes_table' %}"
                     class="btn btn-primary">
                      View agreed categorizations
                    </a>
                  {% endif %}
              </div>
          </div>
      </div>
      {% endif %}
  {% endfor %}
{% endif %}
</div>
{% endblock %}
