{% extends "ponder/base.html" %}
{% load static %}
{% block body_block %}
<div class="container">
  <div class="jumbotron">
  	<a href="/" class="ponder-logo">
      <img src="{% static 'logo.png'%}">
    </a>
    <center></center><h1>Welcome to the Ponder's Web App !</h1></center>
    {% if user.is_authenticated %}
        <h2>Hello, {{ user.username }}! </h2>
    {% else %}
        <h2>Login if you'd like to</h2>
    {% endif %}
  </div>
{% if user.is_authenticated %}
<center><h1>Use cases:</h1></center>
<div class="row">
  {% for project in projects %}
      <div class="col-md-4">
          <div class="card mb-2">
              <div class="card-body">
                  <h2 class="card-title">{{ project }}</h2>
                  {% if project == "Categorizations" %}
                    <p class="card-text">Make your categorizations for each round.</p>
                    <a href="{% url 'ponder:categorizations' %}"
                     class="btn btn-primary">
                      Create categorizations
                    </a>
                  {% elif project == "Reconciliation" %}
                    <p class="card-text">Discuss each round and agree upon a categorization.</p>
                    <a href=""
                     class="btn btn-primary">
                      Meeting
                    </a>
                  {% else %}
                  <p class="card-text">View the data aand its details.</p>
                    <a href=""
                     class="btn btn-primary">
                      View tables
                    </a>
                  {% endif %}
              </div>
          </div>
      </div>
  {% endfor %}
{% endif %}
</div>
{% endblock %}
